body, .main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding: 0; 
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    color: #ffffff; 
}
html {
  background: linear-gradient(180deg,rgb(18, 18, 37) 19%, rgb(48, 52, 56) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html, body {
    height: 100%;
}
.main-wrapper > main,
.main-wrapper > .content {
    flex: 1 1 auto;
}

h1, h2, h3 {
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  margin: 15px 0 35px 0;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}

.container {
    padding-top: 66px;
    padding-left: 16px; 
    padding-right: 16px;
    padding-bottom: 2rem;
    
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
@media (min-width: 840px) {
  .container {
    padding-left: 24px;  
    padding-right: 24px;
    width: 800px;
  }
}
@media (min-width: 1340px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 1200px;
  }
}


@media (max-width: 920px) {
  .h1-design {
    font-size: 58px;     
  }
}

.h1-design {
  background-clip: text; 
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg,rgba(111, 32, 150, 1) 19%, rgba(3, 77, 138, 1) 100%);
  color: transparent;
  font-weight: 700;
  font-size: 80px;
  padding-bottom: 5px;
}
.pending-design {
  font-size: 28px;
  color: #c928585d;
  margin-top: 100px;
}

select {
  background-color: #303030c4;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  margin: 10px;
  width: 200px;
}
.options {
  display: flex;
  justify-content: center;
}
.option-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.first-selects, .season-selects {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.all-seasons-button {
  background-color: #472828d8;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 0 0 15px;
  cursor: pointer;
}
.all-seasons-button:hover {
  background-color: #7a2929bd;
}
.all-seasons-button:active {
  background-color: #a83232c4;
}



.text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.backdrop-blur-xs {
    backdrop-filter: blur(2px);
}

/* Export menu background */
.apexcharts-menu {
  background: #1e1e1e !important;
  border: 1px solid #333 !important;
}

/* Export menu items */
.apexcharts-menu-item {
  color: white !important;
}

.apexcharts-menu-item:hover {
  background: #333 !important;
}

/* Toolbar icons (3 dots) */
.apexcharts-toolbar svg {
  fill: white !important;
}